<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<h1>Ejercicio 1</h1>
<div class="mainForm" >
<label for="edad1">Primera edad</label>
<input type="number" [(ngModel)]="edadUno" id="edad1"> 

<label for="edad2">Segunda edad</label>
<input type="number" [(ngModel)]="edadDos" id="edad2"> 

<label for="suma">Suma</label>
<input type="number" [(ngModel)]="suma" id="suma"> 

<label for="promedio">Promedio</label>
<input type="number" [(ngModel)]="promedio" id="promedio"> 

<button (click)='Calcular()'>Calcular</button>
<button (click)='Reset()'>Reset</button>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
